/* Dine styles her */
form {
  padding: 2rem;
  background: hsl(264 30% 96%);
  border-radius: 8px;
  display: grid;
}

label,
input {
  display: block;
}
input,
select {
  width: 100%;
}

label {
  margin-top: 10px;
}

button {
  margin-top: 20px;
  height: 40px;
}
